.user-container{
    background-color:  #ffffff;
    /* padding: 25px; */
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
   margin: 1rem;

}
#user-image{
    /* height: 50%; */
    border-radius: 50%;
    gap: 20px;
}